<div>
		<header class="jumbotron">
			<div class="header">
				<h1>Nex Ed Homepage</h1>
			</div>
			<!-- <div class="header">
				<div><button ui-sref="login" ng-show="logIn">Login</button> </div>
			</div>
			<a ui-sref="logout" ng-show="loggedOut">Logout</a>
			<<button ui-sref="search">Search</button>
			<button ui-sref="profile">Profile</button> -->
		</header>

		

		<div ui-view></div>


		<footer class="footer">
      		<div class="container">
        		
      		</div>
    	</footer>

	</div>