<div>
        <header class="jumbotron">
            <div class="header">
                <h1>Nex Ed Homepage</h1>
            </div>
            <!-- <div class="header">
                <div><button ui-sref="login" ng-show="logIn">Login</button> </div>
            </div>
            <a ui-sref="logout" ng-show="loggedOut">Logout</a>
            <<button ui-sref="search">Search</button>
            <button ui-sref="profile">Profile</button> -->
        </header>

        <form action="/login" method="post">
            <div>
                <label>Username:</label>
                <input type="text" name="username"/>
            </div>
            <div>
                <label>Password:</label>
                <input type="password" name="password"/>
            </div>
            <div>
                <input type="submit" value="Log In"/>
            </div>
        </form>

        <footer class="footer">
            <div class="container">
                
            </div>
        </footer>

    </div>