<header class="jumbotron">
	<div class="header">
		<h1>User Register Page</h1>
	</div>
</header>

<form ng-submit="addAdminInfo()">
	<div>
		Username:

	</div>
	<div>
		Name:
		<input type="text" ng-model="user.name" placeholder="Name"/>
	</div>
	<div>
		Birth Date:
		<input type="date" ng-model="user.birthday" placeholder="mm/dd/yyyy"/>
	</div>
	<div>
		Gender:
		<select name="gender" ng-model="user.gender">
			<option value="">Please Select</option>
			<option value="Male">Male</option>
			<option value="Female">Female</option>
		</select>
	</div>
	<div>
		Favorite Subject:
		<select name="favSubj" ng-model="user.favSubj">
			<option value="">Please Select</option>
			<option value="History">History</option>
			<option value="Science">Science</option>
			<option value="Math">Math</option>
			<option value="Social Sciences">Social Sciences</option>
			<option value="Language">Language</option>
			<option value="Music">Music</option>
		</select>
	</div>
	<div>
		State:
		<input type="text" ng-model="user.state" placeholder="State"/>
	</div>
	<button type="submit">Submit Profile Info</button>
</form>